{% extends "base.html"%}

{%block content%}

<!-- FIXME: Make Register banner look actually good -->
<div class="block container-fluid bg-grey" id="business-header">
    <a class="block-link" href="{{url_for('courses')}}">
        <h1 class="title" id="register">Register for classes now!</h1>
    </a>
</div>


<!-- Check to see if image can be used, just for temporary demo -->
<!-- TODO: Find hero image -->
<div class="block container-fluid bg-grey" id="hero">
    <div id="hero-images" >
        <img src="static/images/hero.jpg" class="d-block w-100" alt="...">
    </div>
</div>


<!-- About section -->
<div class="block container-fluid bg-grey" id="about">

    <!-- Cathy Bio -->
    <div class="bg-grey float-left about-section col-lg-6 col-md-12 col-sm-12">
        <div class="col-lg-4 col-md-12 col-sm-12 float-left">
            <img src="static/images/Cathy1.JPG" class="about-image" alt="Cathy Cleaveland">
        </div>
        <div>
            <h2 class="title text-bold col-lg-12 col-md-12 col-sm-12">Cathy Cleaveland</h2>
            <p class="text col-lg-12 col-md-12 col-sm-12">
                Cathy Cormier-Cleaveland is an Emergency Medical Services Instructor in the State of Connecticut
                with
                over 40 years of experience in the Health and Safety field. She created and built the training
                program
                for an EMS Agency in CT where she spent 15 years improving upon the program she built to meet the
                ever
                changes the State of CT implemented. As an American Red Cross and American Heart Association
                Instructor
                over the years she has trained numerous lifeguards and individuals in CPR/AED and First Aid. Cathy
                has
                assisted many Camps across CT in getting their staff trained appropriately for when the Camp goes
                through their annual State inspections; making sure they have the proper certifications for their
                programs.
            </p>
            <p class="text col-lg-12 col-md-12 col-sm-12">
                She currently assists several EMS agencies in meeting
                their
                annual federal-mandated training in Bloodborne/Airborne Pathogens, HazMat Awareness and
                Communications.
                Cathy has designed continuing education programs for EMS professionals and served as the Continuing
                Education Coordinator for Sharon Hospital in the past. She served on the State of CT EMS Regulations
                committee to bring forward updates and changes to the EMS system in Connecticut.
            </p>
            <p class="text col-lg-12 col-md-12 col-sm-12">
                Cathy continues her passion to train EMS professionals,
                Camp
                staff, Business and Industry response teams and the general public. She continues to volunteer for
                Norfolk Lions Club Ambulance where she served as the Training/Safety officer for over 10 years.
                Cathy’s
                unique teaching style and custom designed courses ranks her as one of the most sought-after
                instructors
                in Connecticut. She owns C3 EMS Training, LLC.
            </p>
        </div>
    </div>
    <!-- End of Cathy's Bio -->
    <!-- Maureen's Bio -->
    <div class="bg-grey float-right about-section col-lg-6 col-md-12 col-sm-12">
        <div class="col-lg-4 float-left">
            <img src="static/images/Maureen1.jpg" class="about-image" alt="Maureen Bascetta">
        </div>
        <div>
            <h2 class="title  text-bold col-lg-12 col-md-12 col-sm-12">Maureen Bascetta</h2>
            <p class="text col-lg-12 col-md-12 col-sm-12">
                Maureen Bascetta is an Emergency Medical Services
                Instructor in
                the State of Connecticut with over 40 years of experience in the healthcare field. She is also a
                licensed Respiratory therapist and has worked as a respiratory therapist for over 34 years at
                Charlotte
                Hungerford Hospital. She is the mother of 5 children, all who have volunteered their time in the
                Emergency Medical Services. Maureen passion for EMS influence her children to obtain training in
                EMS.
                Her husband is a career firefighter for the City of Torrington and also a Fire Marshall. Maureen
                continues to volunteer for the Colebrook First Responders Program. You can say that EMS runs in
                Maureen’s Family!
            </p>
            <p class="text col-lg-12 col-md-12 col-sm-12">
                As an American Heart Association Instructor, Maureen has
                trained numerous individuals over the years in how to perform CPR/AED in a life-threatening
                situations.
                Her unique teaching style is enjoyed by her students who keep returning to her classes for
                re-certification. She has tutored numerous EMS students to prepare for their National Registry test
                with
                great success.
            </p>
            <!-- FIXME: Spacing about about Maureen's bio-->

        </div>
    </div>
    <!-- End of Maureen's Bio -->

</div>


{%endblock%}