{%extends "base.html"%}

{%block content%}
<div class="block container-fluid bg-grey">
    <h2 class="title mt-2">What People Have Said About Us</h2>
</div>
<div class="block container-fluid bg-grey">
    <div class="col-sm-12 col-md-12 col-lg-10 quote mx-auto">
        <h4 class="title">Wolcott Volunteer Ambulance Association</h4>
        <blockquote class="text">
            <p>
                "Deciding to work with C3EMSTraining has been one of the most worthwhile decisions
                for
                Wolcott
                Volunteer Ambulance. <strong>
                    The training is affordable, thorough, and
                    accessible!
                </strong>
                Furthermore, Cathy is always very attentive when it comes to working with our
                volunteer
                members! I
                would recommend C3EMSTraining to any organization looking to enhance their annual
                online
                training."
            </p>
            <footer class="quote-footer font-italic">
                <span>
                    --<span>
                        Andrew A.
                        Albert
                    </span>,
                    NREMT Catptain
                </span>
            </footer>
        </blockquote>
    </div>
    <!-- End Quote -->
</div>
<div class="block container-fluid bg-grey">
    <!-- Quote -->
    <div class="col-sm-12 col-md-12 col-lg-10 quote mx-auto">
        <h4 class="title">Director of Community Support and Camp MOE</h4>
        <blockquote class="text">
            <p>
                "Cathy is full of knowledge, experience and is attentive to each member of her class
                needs
                while holding onto high expectations of everyone. Having taken many classes with
                Cathy and
                having her train hundreds of our staff I always feel we all are well prepared and
                ready to
                use what we have learned. Cathy is a top-notch trainer."
            </p>
            <footer class="quote-footer font-italic">
                <span>
                    --<span>Katherine Marchand-Byer</span>,
                    LARC
                </span>
            </footer>
        </blockquote>
    </div>
</div>
<div class="block container-fluid bg-grey">
    <!-- Quote -->
    <div class="col-sm-12 col-md-12 col-lg-10 quote mx-auto">
        <h4 class="title">Norfolk Lions Club Ambulance</h4>
        <blockquote class="text">
            <p>
                "C3 EMS Training on-line testing model has been terrific for our membership. As a
                small
                non-profit ambulance service, we are always looking for opportunities to control
                costs. This
                testing service gave us the option of purchasing a specific window in which our
                users could
                gain access and complete their annual safety training. We purchased 8 week of
                access, and
                found that most of our users were able to navigate the login with ease. They
                followed
                instructions and completed the requirements. Mrs. Cormier Cleaveland provided us
                with timely
                reports, which allowed officers to connect with those who were running out of time
                to access
                the system. We ended up with 99% compliance, and have already indicated that we are
                interested in renewing our membership for next year's annual training/testing.
            </p>
            <p>
                Automating the testing process has allowed us to create a standardized approach to
                training and
                testing our members. We can maintain a permanent record of who tested, and how they
                performed.
                The online system allows for self-remediation and testing, which is fantastic. We
                are very
                pleased with the results."
            </p>
            <footer class="quote-footer font-italic">
                <span>

                    --<span> Kitty Hickcox</span>,
                    Chief of Service
                </span>
            </footer>
        </blockquote>
    </div>
    <!-- End Quote -->
</div>
{%endblock%}